{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}
    {{ title }} | Fluent Mind
{% endblock %}

{% block content %}
    <h1 class="my-4">{{ title }}</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Role</th>
                <th>Telegram ID</th>
                <th>Username</th>
                <th>Text</th>
                <th>Date</th>
                <th>Tokens</th>
            </tr>
        </thead>

        <tbody>
            {% if texts %}
                {% for text in texts %}
                    <tr>
                        <td>{{ text.id }}</td>
                        <td>{{ text.role }}</td>
                        <td>{{ text.telegram_id }}</td>
                        <td>{{ text.username }}</td>
                        <td>{{ text.text }}</td>
                        <td>{{ text.date|date:"d.m.Y H:i" }}</td>
                        <td>{{ text.tokens }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock content %}
